
body,
html {
  position: relative;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}

body {
  font-family: -apple-system, 'SF UI Text', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  margin: 0px;
  padding: 0px;
  color: rgb(0, 0, 0);
  font-size: 14px;
  line-height: 1.4;
  width: 100%;
  background-color: rgb(255, 255, 255);
  background-position: initial initial;
  background-repeat: initial initial;
  font-family: -apple-system,SF UI Text,Helvetica Neue,Helvetica,Arial,sans-serif;
  margin: 0;
  padding: 0;
  color: #000;
  -webkit-text-size-adjust: 100%;
  background: #fff;
}

.framework7-root,
body {
  overflow: hidden;
}

@media (height: 691px) and (orientation: landscape) and (width: 1024px) {
  .framework7-root,
  body,
  html {
    height: 671px;
  }
}

@media (height: 692px) and (orientation: landscape) and (width: 1024px) {
  .framework7-root,
  body,
  html {
    height: 7in;
  }
}

* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-touch-callout: none;
}

a,
input {
  outline: 0px;
}

a {
  text-decoration: none;
  color: rgb(0, 122, 255);
  color: #007aff;
}

.row {
  display: -webkit-box;
  -webkit-box-pack: justify;
  -webkit-box-lines: multiple;
  -webkit-box-align: start;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -moz-box-lines: multiple;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-align: start;
  align-items: flex-start;
}

.row > [class*="col-"] {
  box-sizing: border-box;
}

.row .col-25 {
  width: calc((100% - (15px * 3)) / 4);
  width: 25%;
  width: calc((100% - 15px*3)/4);
}

.view,
.views {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 5000;
}

.views {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

.view {
  overflow: hidden;
  box-sizing: border-box;
}

.pages {
  position: relative;
  overflow: hidden;
  background-color: rgb(0, 0, 0);
  background-position: initial initial;
  background-repeat: initial initial;
  background: #000;
}

.page,
.pages {
  width: 100%;
  height: 100%;
}

.page {
  box-sizing: border-box;
  position: absolute;
  left: 0px;
  top: 0px;
  background-color: rgb(239, 239, 244);
  -webkit-transform: translate3d(0px, 0px, 0px);
  background-position: initial initial;
  background-repeat: initial initial;
  left: 0;
  top: 0;
  background: #efeff4;
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}

.page-content {
  overflow: auto;
  box-sizing: border-box;
  height: 100%;
  position: relative;
  z-index: 1;
  -webkit-overflow-scrolling: touch;
}

.navbar-inner {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  padding: 0px 8px;
  box-sizing: border-box;
  display: -webkit-box;
  -webkit-box-pack: justify;
  -webkit-box-align: center;
  background: #1a98ff;
  color: #fff;
}

.navbar {
  height: 44px;
  width: 100%;
  box-sizing: border-box;
  font-size: 17px;
  position: relative;
  margin: 0px;
  z-index: 500;
  -webkit-backface-visibility: hidden;
  left: 0;
  top: 0;
}

.navbar {
  background-color: rgb(247, 247, 248);
  background-position: initial initial;
  background-repeat: initial initial;
  left: 0;
  top: 0;
}

.navbar {
  left: 0px;
  top: 0px;
  left: 0;
  top: 0;
}

.navbar::after {
  content: '';
  position: absolute;
  left: 0px;
  bottom: 0px;
  right: auto;
  top: auto;
  height: 1px;
  width: 100%;
  background-color: rgb(196, 196, 196);
  display: block;
  z-index: 15;
  -webkit-transform-origin: 50% 100%;
}



.navbar .center {
  font-size: 17px;
  font-weight: 500;
  text-align: center;
  margin: 0px;
  position: relative;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  line-height: 44px;
  -webkit-flex-shrink: 10;
  display: -webkit-box;
  -webkit-box-align: center;
  margin: 0;
  -ms-flex: 0 10 auto;
  flex-shrink: 10;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
}

.page > .navbar {
  position: absolute;
}

.navbar-fixed .page-content {
  padding-top: 44px;
}

.searchbar {
  height: 44px;
  width: 100%;
  background-color: rgb(201, 201, 206);
  box-sizing: border-box;
  padding: 0px 8px;
  overflow: hidden;
  position: relative;
  display: -webkit-box;
  -webkit-box-align: center;
  background-position: initial initial;
  background-repeat: initial initial;
  background: #c9c9ce;
  padding: 0 8px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
}

.searchbar::after {
  content: '';
  position: absolute;
  left: 0px;
  bottom: 0px;
  right: auto;
  top: auto;
  height: 1px;
  width: 100%;
  background-color: rgb(180, 180, 180);
  display: block;
  z-index: 15;
  -webkit-transform-origin: 50% 100%;
}

.searchbar .searchbar-input {
  width: 100%;
  height: 28px;
  position: relative;
  -webkit-flex-shrink: 1;
  -ms-flex: 0 1 auto;
  flex-shrink: 1;
}

.searchbar input[type="search"] {
  box-sizing: border-box;
  width: 100%;
  display: block;
  border: none;
  -webkit-appearance: none;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  font-family: inherit;
  color: rgb(0, 0, 0);
  font-size: 14px;
  font-weight: 400;
  background-color: rgb(255, 255, 255);
  padding: 0px 28px;
  height: 100%;
  background-image: url('data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D\'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg\'%20viewBox%3D\'0%200%2013%2013\'%20enable-background%3D\'new%200%200%2013%2013\'%3E%3Cg%3E%3Cpath%20fill%3D\'%23939398\'%20d%3D\'M5%2C1c2.2%2C0%2C4%2C1.8%2C4%2C4S7.2%2C9%2C5%2C9S1%2C7.2%2C1%2C5S2.8%2C1%2C5%2C1%20M5%2C0C2.2%2C0%2C0%2C2.2%2C0%2C5s2.2%2C5%2C5%2C5s5-2.2%2C5-5S7.8%2C0%2C5%2C0%20L5%2C0z\'%2F%3E%3C%2Fg%3E%3Cline%20stroke%3D\'%23939398\'%20stroke-miterlimit%3D\'10\'%20x1%3D\'12.6\'%20y1%3D\'12.6\'%20x2%3D\'8.2\'%20y2%3D\'8.2\'%2F%3E%3C%2Fsvg%3E');
  background-size: 13px;
  background-position: 8px 50%;
  background-repeat: no-repeat no-repeat;
}

.searchbar .searchbar-clear {
  position: absolute;
  width: 28px;
  height: 28px;
  right: 0px;
  top: 0px;
  background-image: url('data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D\'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg\'%20viewBox%3D\'0%200%2028%2028\'%3E%3Ccircle%20cx%3D\'14\'%20cy%3D\'14\'%20r%3D\'14\'%20fill%3D\'%238e8e93\'%2F%3E%3Cline%20stroke%3D\'%23ffffff\'%20stroke-width%3D\'2\'%20stroke-miterlimit%3D\'10\'%20x1%3D\'8\'%20y1%3D\'8\'%20x2%3D\'20\'%20y2%3D\'20\'%2F%3E%3Cline%20fill%3D\'none\'%20stroke%3D\'%23ffffff\'%20stroke-width%3D\'2\'%20stroke-miterlimit%3D\'10\'%20x1%3D\'20\'%20y1%3D\'8\'%20x2%3D\'8\'%20y2%3D\'20\'%2F%3E%3C%2Fsvg%3E');
  background-size: 14px;
  background-position: 50% 50%;
  background-repeat: no-repeat no-repeat;
  right: 0;
  top: 0;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2028%2028'%3E%3Ccircle%20cx%3D'14'%20cy%3D'14'%20r%3D'14'%20fill%3D'%238e8e93'%2F%3E%3Cline%20stroke%3D'%23ffffff'%20stroke-width%3D'2'%20stroke-miterlimit%3D'10'%20x1%3D'8'%20y1%3D'8'%20x2%3D'20'%20y2%3D'20'%2F%3E%3Cline%20fill%3D'none'%20stroke%3D'%23ffffff'%20stroke-width%3D'2'%20stroke-miterlimit%3D'10'%20x1%3D'20'%20y1%3D'8'%20x2%3D'8'%20y2%3D'20'%2F%3E%3C%2Fsvg%3E");
  background-size: 14px 14px;
}

.searchbar .searchbar-clear {
  opacity: 0;
  pointer-events: none;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  cursor: pointer;
  position: absolute;
  width: 28px;
  height: 28px;
  right: 0;
  top: 0;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2028%2028'%3E%3Ccircle%20cx%3D'14'%20cy%3D'14'%20r%3D'14'%20fill%3D'%238e8e93'%2F%3E%3Cline%20stroke%3D'%23ffffff'%20stroke-width%3D'2'%20stroke-miterlimit%3D'10'%20x1%3D'8'%20y1%3D'8'%20x2%3D'20'%20y2%3D'20'%2F%3E%3Cline%20fill%3D'none'%20stroke%3D'%23ffffff'%20stroke-width%3D'2'%20stroke-miterlimit%3D'10'%20x1%3D'20'%20y1%3D'8'%20x2%3D'8'%20y2%3D'20'%2F%3E%3C%2Fsvg%3E");
  background-size: 14px 14px;
}

.page > .searchbar {
  position: absolute;
  width: 100%;
  left: 0px;
  top: 0px;
  z-index: 200;
}

.page > .searchbar ~ .page-content {
  padding-top: 44px;
}

.navbar-fixed .page > .searchbar {
  top: 44px;
}

.navbar-fixed .page > .searchbar ~ .page-content {
  padding-top: 88px;
}

.content-block {
  margin: 35px 0px;
  padding: 0px 15px;
  color: rgb(109, 109, 114);
  box-sizing: border-box;
  margin: 35px 0;
  padding: 0 15px;
  color: #6d6d72;
}

.content-block-inner {
  background-color: rgb(255, 255, 255);
  padding: 10px 15px;
  margin-left: -15px;
  width: 100%;
  position: relative;
  color: rgb(0, 0, 0);
  background-position: initial initial;
  background-repeat: initial initial;
  background: #fff;
  color: #000;
}

.content-block-inner::before {
  content: '';
  position: absolute;
  left: 0px;
  top: 0px;
  bottom: auto;
  right: auto;
  height: 1px;
  width: 100%;
  background-color: rgb(200, 199, 204);
  display: block;
  z-index: 15;
  -webkit-transform-origin: 50% 0px;
}

.content-block-inner::after {
  content: '';
  position: absolute;
  left: 0px;
  bottom: 0px;
  right: auto;
  top: auto;
  height: 1px;
  width: 100%;
  background-color: rgb(200, 199, 204);
  display: block;
  z-index: 15;
  -webkit-transform-origin: 50% 100%;
}

.list-block {
  margin: 35px 0px;
  font-size: 17px;
  margin: 35px 0;
}

.list-block ul {
  background-color: rgb(255, 255, 255);
  list-style: none;
  padding: 0px;
  margin: 0px;
  position: relative;
  background-position: initial initial;
  background-repeat: initial initial;
  background: #fff;
  padding: 0;
  margin: 0;
}

.list-block ul::before {
  content: '';
  position: absolute;
  left: 0px;
  top: 0px;
  bottom: auto;
  right: auto;
  height: 1px;
  width: 100%;
  background-color: rgb(200, 199, 204);
  display: block;
  z-index: 15;
  -webkit-transform-origin: 50% 0px;
}

.list-block ul::after {
  content: '';
  position: absolute;
  left: 0px;
  bottom: 0px;
  right: auto;
  top: auto;
  height: 1px;
  width: 100%;
  background-color: rgb(200, 199, 204);
  display: block;
  z-index: 15;
  -webkit-transform-origin: 50% 100%;
}

.list-block ul ul {
  padding-left: 45px;
}

.list-block ul ul::after,
.list-block ul ul::before {
  display: none;
}

.list-block li {
  box-sizing: border-box;
  position: relative;
}

.list-block .item-media {
  display: -webkit-box;
  -webkit-flex-shrink: 0;
  -webkit-box-lines: single;
  box-sizing: border-box;
  -webkit-box-align: center;
  padding-top: 7px;
  padding-bottom: 8px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex: 0 0 auto;
  flex-shrink: 0;
  -moz-box-lines: single;
  -ms-flex-wrap: none;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -ms-flex-align: center;
  align-items: center;
}

.list-block .item-media + .item-inner {
  margin-left: 15px;
}

.list-block .item-inner {
  padding-right: 15px;
  position: relative;
  width: 100%;
  padding-top: 8px;
  padding-bottom: 7px;
  min-height: 44px;
  box-sizing: border-box;
  display: -webkit-box;
  -webkit-box-flex: 1;
  overflow: hidden;
  -webkit-box-pack: justify;
  -webkit-box-align: center;
  display: -ms-flexbox;
  display: flex;
  -ms-flex: 1;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-item-align: stretch;
  align-self: stretch;
}

.list-block .item-inner::after {
  content: '';
  position: absolute;
  left: 0px;
  bottom: 0px;
  right: auto;
  top: auto;
  height: 1px;
  width: 100%;
  background-color: rgb(200, 199, 204);
  display: block;
  z-index: 15;
  -webkit-transform-origin: 50% 100%;
}

.list-block .item-title {
  -webkit-flex-shrink: 1;
  min-width: 0px;
  white-space: nowrap;
  position: relative;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
  -ms-flex: 0 1 auto;
  flex-shrink: 1;
  min-width: 0;
}

.list-block .item-link {
  transition: 0.3s;
  -webkit-transition: 0.3s;
  display: block;
  color: inherit;
  -webkit-transition-duration: .3s;
  transition-duration: .3s;
}

.list-block .item-link .item-inner {
  padding-right: 35px;
  background-image: url('data:image/svg+xml;charset=utf-8,%3Csvg%20viewBox%3D\'0%200%2060%20120\'%20xmlns%3D\'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg\'%3E%3Cpath%20d%3D\'m60%2061.5-38.25%2038.25-9.75-9.75%2029.25-28.5-29.25-28.5%209.75-9.75z\'%20fill%3D\'%23c7c7cc\'%2F%3E%3C%2Fsvg%3E');
  background-size: 10px 20px;
  background-position: calc(100% - 15px) 50%;
  background-repeat: no-repeat no-repeat;
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20viewBox%3D'0%200%2060%20120'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%3E%3Cpath%20d%3D'm60%2061.5-38.25%2038.25-9.75-9.75%2029.25-28.5-29.25-28.5%209.75-9.75z'%20fill%3D'%23c7c7cc'%2F%3E%3C%2Fsvg%3E");
  background-repeat: no-repeat;
  background-position: 95% center;
  background-position: calc(100% - 15px) center;
}

.list-block .item-content {
  box-sizing: border-box;
  padding-left: 15px;
  min-height: 44px;
  display: -webkit-box;
  -webkit-box-pack: justify;
  -webkit-box-align: center;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-align: center;
  align-items: center;
}

.list-block .item-subtitle {
  white-space: nowrap;
  max-width: 100%;
}

.list-block .item-subtitle,
.list-block .item-text {
  font-size: 15px;
  position: relative;
  overflow: hidden;
  text-overflow: ellipsis;
}

.list-block .item-text {
  color: rgb(142, 142, 147);
  line-height: 21px;
  height: 42px;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  color: #8e8e93;
}

.list-block.media-list .item-title {
  font-weight: 500;
}

.list-block.media-list .item-inner {
  display: block;
  padding-top: 10px;
  padding-bottom: 9px;
}

.list-block.media-list .item-link .item-inner {
  background-image: none;
  padding-right: 15px;
  background-position: initial initial;
  background-repeat: initial initial;
}

.list-block.media-list .item-link .item-title-row {
  padding-right: 20px;
  background-image: url('data:image/svg+xml;charset=utf-8,%3Csvg%20viewBox%3D\'0%200%2060%20120\'%20xmlns%3D\'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg\'%3E%3Cpath%20d%3D\'m60%2061.5-38.25%2038.25-9.75-9.75%2029.25-28.5-29.25-28.5%209.75-9.75z\'%20fill%3D\'%23c7c7cc\'%2F%3E%3C%2Fsvg%3E');
  background-size: 10px 20px;
  background-position: 100% 50%;
  background-repeat: no-repeat no-repeat;
}

.list-block.media-list .item-media {
  padding-top: 9px;
  padding-bottom: 10px;
}

.list-block.media-list .item-media img {
  display: block;
}

.list-block.media-list .item-title-row {
  display: -webkit-box;
  -webkit-box-pack: justify;
}

.list-block li:last-child .item-inner::after,
.list-block li:last-child li:last-child .item-inner::after {
  display: none;
}

.list-block li li:last-child .item-inner::after,
.list-block li:last-child li .item-inner::after {
  content: '';
  position: absolute;
  left: 0px;
  bottom: 0px;
  right: auto;
  top: auto;
  height: 1px;
  width: 100%;
  background-color: rgb(200, 199, 204);
  display: block;
  z-index: 15;
  -webkit-transform-origin: 50% 100%;
}

.list-block .accordion-item > .item-link .item-inner {
  transition: background-color 0.3s;
  -webkit-transition: background-color 0.3s;
}

.list-block .accordion-item > .item-link .item-inner::after {
  transition: 0.3s;
  -webkit-transition: 0.3s;
}

.list-block .accordion-item .content-block {
  margin-top: 0px;
  margin-bottom: 0px;
}

.list-block .accordion-item ul {
  padding-left: 0px;
}

.accordion-item-content {
  position: relative;
  overflow: hidden;
  height: 0px;
  font-size: 14px;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -webkit-transform: translate3d(0px, 0px, 0px);
}

.panel-overlay {
  left: 0px;
  width: 100%;
  background-color: transparent;
  opacity: 0;
  z-index: 5999;
  background-position: initial initial;
  background-repeat: initial initial;
}

.panel-overlay {
  position: absolute;
  top: 0px;
  height: 100%;
  display: none;
}

.statusbar-overlay {
  background-color: rgb(247, 247, 248);
  z-index: 10000;
  position: absolute;
  left: 0px;
  top: 0px;
  height: 20px;
  width: 100%;
  display: none;
  transition: 0.4s;
  -webkit-transition: 0.4s;
  background-position: initial initial;
  background-repeat: initial initial;
}

.swiper-container {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.swiper-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: -webkit-box;
  -webkit-transition: -webkit-transform;
  transition: -webkit-transform;
  box-sizing: content-box;
}

.swiper-wrapper {
  -webkit-transform: translate3d(0px, 0px, 0px);
}

.swiper-slide {
  -webkit-flex-shrink: 0;
  width: 100%;
  height: 100%;
  position: relative;
}

.swiper-pagination {
  position: absolute;
  text-align: center;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -webkit-transform: translate3d(0px, 0px, 0px);
  z-index: 10;
}

.swiper-container-horizontal > .swiper-pagination-bullets {
  bottom: 10px;
  left: 0px;
  width: 100%;
}

.swiper-pagination-bullet {
  width: 8px;
  height: 8px;
  display: inline-block;
  border-top-left-radius: 100%;
  border-top-right-radius: 100%;
  border-bottom-right-radius: 100%;
  border-bottom-left-radius: 100%;
  background-color: rgb(0, 0, 0);
  opacity: 0.2;
  background-position: initial initial;
  background-repeat: initial initial;
}

.swiper-pagination-bullet-active {
  opacity: 1;
  background-color: rgb(0, 122, 255);
  background-position: initial initial;
  background-repeat: initial initial;
}

.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0px 5px;
}

.navbar-inner {
  background-color: rgb(26, 152, 255);
  color: rgb(255, 255, 255);
  background-position: initial initial;
  background-repeat: initial initial;
  background: #1a98ff;
  color: #fff;
}

.navbar-inner {
  background-color: rgb(26, 152, 255);
  color: rgb(255, 255, 255);
  background-position: initial initial;
  background-repeat: initial initial;
  background: #1a98ff;
  color: #fff;
}

.main-page .swiper-container {
  height: 150px;
}

.main-page .swiper-slide {
  background-color: rgb(255, 255, 255);
  background-position: initial initial;
  background-repeat: initial initial;
  background: #fff;
}

.main-page .swiper-slide span {
  text-align: center;
  display: block;
  margin: 20px;
  font-size: 21px;
}

.main-page .centerdiv {
  text-align: center;
  font-size: 9pt;
}

.main-page img {
  display: inline-block;
  height: auto;
}